<?xml version="1.0" encoding="UTF-8"?>
<phpunit stopOnError="true"
         stopOnFailure="true"
         colors="true"
         bootstrap="phpunit_bootstrap.php">
	<testsuites>
		<testsuite name="Core Test Suite">
			<file>./AnoteCoreTest.php</file>
		</testsuite>
		<testsuite name="Library Test Suite">
			<directory>./library/</directory>
		</testsuite>
	</testsuites>
</phpunit>
